.anton {
  font-family: "Anton", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.card-img-top {
  max-height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.result-img {
  cursor: pointer;
  max-height: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
}